/* General styles */
:root {
	/* colors */
	--main-blue-color: #1f2937; /*hero and footer background*/
	--secondary-color: #e5e7eb; /* quote section background color, hero secondary text, header link text */
	--button-color: #3882f6;

	/* fonts */
	--main-text-color: #f9faf8; /* hero main text, header logo text*/
}
@font-face {
	font-family: 'Roboto-regular';
	src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto-bold';
	src: url(../fonts/Roboto-Bold.ttf) format('truetype');
}

* {
	margin: 0;
}

body {
	font-family: 'Roboto-regular', sans-serif;
}

h1 {
	font-family: 'Roboto-bold', sans-serif;
}

header {
	background-color: var(--main-blue-color);
	padding: 5px 10%;
	min-height: 80vh;
}

/* NAV */

nav {
	display: flex;
	justify-content: space-between;
	background-color: var(--main-blue-color);
	width: 100%;
	position: sticky;
	top: 0px;
}

.left-nav {
	padding-top: 20px;
	flex: 1;
}
.left-nav img {
	width: 20vb;
	border-radius: 113px 8px 91px 8px;
	-moz-border-radius: 113px 8px 91px 8px;
	-webkit-border-radius: 113px 8px 91px 8px;
}
.right-nav {
	flex: 1;
	margin-top: 30px;
}
ul {
	display: flex;
	justify-content: end;
}

li {
	list-style: none;
}

nav a {
	text-decoration: none;
	color: var(--secondary-color);
	font-size: 18px;
	margin: 30px;
}

.cont {
	display: flex;
	padding-top: 30px;
	flex-wrap: wrap;
}

.cont div {
	flex: 1;
	padding-top: 50px;
}

.right-cont img {
	width: 100%;
	height: 100%;
}

.cont div h1 {
	font-size: 48px;
	font-family: 'Roboto-bold', sans-serif;
	color: var(--main-text-color);
}

.cont p {
	color: var(--secondary-color);
}
button {
	color: var(--secondary-color);
	background-color: var(--button-color);
	margin-top: 5px;
	padding: 4px 15px;
	border: 1px solid white;
	border-radius: 5px;
	cursor: pointer;
}
/* HEADER */

/* First Section - 4 images-texts */

.figure-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	margin: 25px 5px;
}

.first-section h2 {
	text-align: center;
	margin-top: 35px;
}

.figure-container figure {
	text-align: center;
}

.figure-container figure img {
	width: 250px;
	height: 250px;
	border-radius: 20px;
}
article {
	background-color: var(--secondary-color);
	max-height: 200px;
	padding: 50px 100px;
	margin: 5vh;
	border-radius: 6px;
}
.second-section {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: var(--button-color);
	padding: 50px 70px;
	margin: 5vh;
	border-radius: 6px;
}
.sign-up {
	margin-left: 30px;
}

footer {
	background-color: var(--main-blue-color);
	padding: 30px 0;
	margin-bottom: 5px;
}

footer p {
	color: var(--secondary-color);
	text-align: center;
}
/* responsiveness */
@media (max-width: 770px) {
	.cont {
		display: flex;
		flex-direction: column;
	}
	button {
		margin-top: 20px;
	}
	.left-nav img {
		width: 15vb;
	}
	.right-nav {
		margin-top: 10px;
		margin-left: 60px;
	}
	ul {
		flex-direction: column;
	}
	li {
		margin: 5px;
	}
	.figure-container figure img {
		width: 200px;
		height: 200px;
	}
}
